* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "yakanBakhMedium";
}

body {
  background-color: #EAF2FF;
}

.rc-slider-track {
  background-color: #707070 !important;
}

.rc-slider-handle {
  border: none !important;
  background-color:#8743FF !important;
  opacity: 1 !important;
}

.test {
  color: white;
}